openapi: 3.1.0
info:
  title: PANGAEA Data Download Services API
  description: >
    REST services for retrieving geoscientific data from PANGAEA's archive.
    Two complementary services are provided: a DOI-based filter service for
    retrieving tabular data from specific datasets, and a geo-parameter service
    for cross-dataset retrieval filtered by geographic bounding box, temporal
    range, and depth constraints.
  version: 1.0.0
  contact:
    name: PANGAEA Technical Support
    email: tech@pangaea.de
  license:
    name: CC-BY 3.0
    url: https://creativecommons.org/licenses/by/3.0/
  x-humanURL: https://www.pangaea.de/about/services.php
servers:
  - url: https://ws.pangaea.de
    description: PANGAEA Web Services Production Server
tags:
  - name: DOI Filter
    description: Filter dataset data by DOI and parameter values
  - name: Geo Filter
    description: Filter cross-dataset data by geographic and temporal constraints
paths:
  /dds-fdp/rest/panquery:
    get:
      operationId: queryByDOI
      summary: Query Dataset by DOI
      description: >
        Retrieve tabular dataset data filtered by dataset DOI and optional
        parameter values. Supports column selection, value filtering with
        range queries, and multiple filter criteria with AND/OR logic.
        Returns tab-delimited data files.
      tags:
        - DOI Filter
      parameters:
        - name: datasetDOI
          in: query
          description: >
            DOI of the PANGAEA dataset to retrieve. When used alone, returns
            the entire dataset. Can be the full DOI URI or just the suffix.
          required: true
          schema:
            type: string
          example: "10.1594/PANGAEA.833575"
        - name: columns
          in: query
          description: >
            Comma-delimited list of column numbers to include in the response
            (no spaces). If omitted, all columns are returned.
          required: false
          schema:
            type: string
          example: "1,2,3,5"
        - name: filterParameterValue
          in: query
          description: >
            Filter rows by parameter value. Format is "column:value" or
            "column:>value" or "column:<value". Multiple filters use AND logic;
            multiple values within a filter use OR logic. Can be repeated.
          required: false
          schema:
            type: string
          example: "3:>21"
          style: form
          explode: true
      responses:
        "200":
          description: Tab-delimited dataset data
          content:
            text/tab-separated-values:
              schema:
                type: string
                description: Tab-delimited data file with header row
              example: |
                Date/Time	Latitude	Longitude	Depth water [m]	Temp [°C]
                2014-03-01T12:00:00	52.5	8.3	100	8.5
                2014-03-01T13:00:00	52.5	8.3	200	6.2
        "400":
          description: Bad request - invalid parameters
          content:
            text/plain:
              schema:
                type: string
        "404":
          description: Dataset not found

  /dds-fgp/rest/dwhquery:
    get:
      operationId: queryByGeoParameters
      summary: Query Data by Geographic Parameters
      description: >
        Retrieve geoscientific measurements across multiple datasets filtered
        by geographic bounding box, temporal range, depth constraints, and
        PANGAEA parameter IDs. Ideal for extracting cross-dataset measurements
        from specific ocean regions, time periods, or depth intervals.
      tags:
        - Geo Filter
      parameters:
        - name: westBoundLon
          in: query
          description: Western boundary longitude in decimal degrees (-180 to 180)
          required: true
          schema:
            type: number
            format: float
            minimum: -180
            maximum: 180
          example: -10.0
        - name: southBoundLat
          in: query
          description: Southern boundary latitude in decimal degrees (-90 to 90)
          required: true
          schema:
            type: number
            format: float
            minimum: -90
            maximum: 90
          example: 45.0
        - name: eastBoundLon
          in: query
          description: Eastern boundary longitude in decimal degrees (-180 to 180)
          required: true
          schema:
            type: number
            format: float
            minimum: -180
            maximum: 180
          example: 20.0
        - name: northBoundLat
          in: query
          description: Northern boundary latitude in decimal degrees (-90 to 90)
          required: true
          schema:
            type: number
            format: float
            minimum: -90
            maximum: 90
          example: 60.0
        - name: pangaeaParameterIDs
          in: query
          description: >
            Comma-separated list of internal PANGAEA parameter IDs to retrieve.
            Parameter IDs can be found via the PANGAEA Term Dictionary API.
          required: true
          schema:
            type: string
          example: "1350,1351"
        - name: dateTimeMin
          in: query
          description: Start date/time filter in ISO 8601 format
          required: false
          schema:
            type: string
            format: date-time
          example: "2010-01-01T00:00:00Z"
        - name: dateTimeMax
          in: query
          description: End date/time filter in ISO 8601 format
          required: false
          schema:
            type: string
            format: date-time
          example: "2020-12-31T23:59:59Z"
        - name: depthMin
          in: query
          description: Minimum water depth in meters (below sea surface)
          required: false
          schema:
            type: number
            format: float
          example: 0.0
        - name: depthMax
          in: query
          description: Maximum water depth in meters (below sea surface)
          required: false
          schema:
            type: number
            format: float
          example: 500.0
        - name: depthMinSed
          in: query
          description: Minimum sediment/rock depth in meters below seafloor
          required: false
          schema:
            type: number
            format: float
        - name: depthMaxSed
          in: query
          description: Maximum sediment/rock depth in meters below seafloor
          required: false
          schema:
            type: number
            format: float
        - name: projectID
          in: query
          description: Internal PANGAEA project identifier to filter results
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Tab-delimited cross-dataset measurements
          content:
            text/tab-separated-values:
              schema:
                type: string
                description: >
                  Tab-delimited file with columns for Date/Time, Latitude,
                  Longitude, Water Depth, the requested parameters, and
                  data source (dataset DOI).
              example: |
                Date/Time	Latitude	Longitude	Depth water [m]	Temp [°C]	Source
                2015-06-15T08:00:00	52.3	8.1	50	12.3	https://doi.pangaea.de/10.1594/PANGAEA.833575
                2016-07-20T10:30:00	53.1	9.2	75	11.8	https://doi.pangaea.de/10.1594/PANGAEA.912345
        "400":
          description: Bad request - invalid or missing parameters
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
        status:
          type: integer
          description: HTTP status code
